<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Boto Photo Studio HTML Template">
		<meta name="keywords" content="photo, html">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../static/css/slicknav.min.css"/>
		<link rel="stylesheet" href="../static/css/fresco.css"/>
		<link rel="stylesheet" href="../static/css/slick.css"/>
		<!-- Main Stylesheets -->
		<link rel="stylesheet" href="../static/css/style.css"/>
		<link rel="icon" type="imagem/png" href="../static/img/fox3.png" />
		<title>Nineflix</title>


	</head>
	<body>
		<nav>
			<div id="logo">
				<a href="/">
					<img src=" {{ url_for('static', filename='img/logo.png')}} " alt="">
				</a>
			</div>

			<div id="title-lista">
				<a href="/sobre">Sobre</a>
				
			</div>
			<div id="listar-tudo">
				
				<a href="/">Listar Tudo</a>
			</div>

			<div id="filtro-config">
				<div id="filtro-filmes">
					<form action="/filter" method="POST">
						<div id="filtro-input">
							<i class="fa fa-search" aria-hidden="true"></i>
							<input type="search" placeholder="Gênero" id="search" name="search">
						</div>
							
					</form>
					
					<!-- Lista suspensa -->
					<!-- <label for="genero">Selecione um gênero de filme</label>
					<select name="" id="">
						<option value="">Ficção Científica</option>
						<option value="">Romance</option>
						<option value="">Fantasia</option>
					</select> -->
					<!-- Fim da lista suspensa -->
				</div>
				<div id="icon-config">
					<a href="/login" id="config"> 
						<i class="fa fa-cog" aria-hidden="true"></i>
					</a>
				</div>
				
			</div>


		</nav>

		<section id="catalogo2">
			<!-- <h3>Catálogo</h3> -->
			
		</section>		
	 	

		<!-- Hero Section -->
		<section class="hero__section">
			<div class="hero-slider">
				{% for f in filmes %}
				<div class="slide-item">
					<a class="fresco" href="{{f.cartaz}}" data-fresco-group="projects">
						<img src="{{f.cartaz}}" alt="">
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="hero-text-slider">
			</div>
		</section>
		<!-- Hero Section end -->

		<!-- Footer Section -->
		<footer class="footer__section">
			<div class="container">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<div class="footer__copyright__text">
					<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Grupo 9 - Turma 5 | Blue EdTech <i class="fa fa-heart" aria-hidden="true"></i></p>
				</div>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</div>
		</footer>
		<!-- Footer Section end -->

		<!-- Search Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch">+</div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here.....">
				</form>
			</div>
		</div>
		<!-- Search End -->

		<!--====== Javascripts & Jquery ======-->
		<script src="../static/js/vendor/jquery-3.2.1.min.js"></script>
		<script src="../static/js/jquery.slicknav.min.js"></script>
		<script src="../static/js/slick.min.js"></script>
		<script src="../static/js/fresco.min.js"></script>
		<script src="../static/js/main.js"></script>

		</body>
</html>